# Dependencies
node_modules
**/node_modules
**/dist
*.exe

# Electron specific
**/electron/dist/**
desktop/node_modules/electron/dist/

# Build output
dist/
build/

# Environment files
.env
.env.local